# Ignore generic temp file, undo files, etc...
.~lock.*
*.sh~
*.un~
*.autosave
*.swp
*.swo
### Eclipse specific
.settings/
.properties
.classpath
bin/
build/
### Pyton specific
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# ignored specific dirs and files
not_needed_files/
configs/*.cfg
data/*.csv
logs/*.log
